body {
    background-color: cornflowerblue;

}

.main {
    background-color: lightgray;
    position: fixed;
    width: 70%;
    left: 10%;
    font-family: sans-serif;
    color: darkslategray;
    height: 95%;
    overflow-y: scroll;
    padding: 1% 5% 5% 5%;
    margin: auto;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
    text-align: center;
}

p{
    font-size: 24px;
}

.forced-padding {
    height: 10%;
}

img{
    width: 45%;
}