

.main_head {
    width: 100%;
    font-size: large;
    display: inline-block;
    padding: 0 0 0 3%;
    margin: 0;
}

.logo {
    vertical-align: middle;
    margin: 1em 3% 1em 0;
    width: 23%;
}

.btn_header {
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    vertical-align: middle;
    width: 20%;
    margin: 1em 3% 1em 0;

}

.btn_header:hover {
    background-color: lightgray;
}

.bold {
    font-weight: 700;
}